<!doctype html>
<html ng-app="SampleApp">
  <head>
  </head>
  <body ng-controller="MainCrtl">
    <button ng-click="trackScreen()">track screenview</button>
    <button ng-click="trackEvent()">track event</button>
    <button ng-click="trackTiming()">track timing</button>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="/app.js"></script>
  <script src="/angular-google-analytics.js"></script>
</html>